In [301]:
import numpy as np
import pandas as pd

In [302]:
circuits = pd.read_csv('circuits_pre.csv')
con_specs = pd.read_csv('constructors_specs_pre.csv')
con_stats = pd.read_csv('constructors_stats_pre.csv')
drivers = pd.read_csv('drivers_pre.csv')
quali = pd.read_csv('quali_results_pre.csv')
weather = pd.read_csv('weather_pre.csv')
races2 = pd.read_csv('race_results_pre.csv')
salaries = pd.read_csv('salaries.csv')

In [303]:
#circuits dataframe preprocessing
circuits.rename(columns={'country': 'circuit_country'}, inplace=True)
circuits['circuit_country'] = circuits['circuit_country'].replace('UK', 'United Kingdom')


#constructors_specs preprocessing
con_specs['Valves'] = con_specs.groupby('season')['Valves'].transform(lambda x: x.fillna(x.median()))
con_specs['Valves'] = con_specs['Valves'].astype(int)
nationality_to_country = {'Spanish': 'Spain', 'Brazilian': 'Brazil', 'Swiss': 'Switzerland', 'British': 'United Kingdom', 
                          'Indian': 'India', 'German': 'Germany', 'Austrian': 'Austria', 'Japanese': 'Japan', 
                          'Finnish': 'Finland', 'Polish': 'Poland', 'Italian': 'Italy', 'Russian': 'Russia',
                          'Australian': 'Australia', 'Belgian': 'Belgium', 'Venezuelan': 'Venezuela', 
                          'Mexican': 'Mexico', 'French': 'France','Dutch': 'Netherlands', 'Swedish': 'Sweeden', 
                          'Danish': 'Denmark', 'American': 'USA', 'Indonesian': 'Indonesia','New Zealander': 'New Zealand',
                          'Canadian': 'Canada', 'Monegasque': 'Monaco', 'Thai': 'Thailand', 'Chinese': 'China',
                          'Malaysian': 'Malaysia'}
con_specs['Country of Origin'] = con_specs['nationality'].map(nationality_to_country)
con_specs.drop('nationality', axis=1, inplace=True)
con_specs.rename(columns={'Country of Origin': 'constructor_country_of_origin',
                          'pole_positions': 'consturctor_pole_positions', 'Points': 'constructor_points'}, inplace = True)

In [304]:
#con_stats preprocessing
con_stats[['wins', 'pole_positions', 'Constructor_Championships', 'Driver_Championships']] = con_stats[['wins', 'pole_positions', 'Constructor_Championships', 'Driver_Championships']].astype(int)
nationality_to_country = {'Spanish': 'Spain', 'Brazilian': 'Brazil', 'Swiss': 'Switzerland', 'British': 'United Kingdom', 
                          'Indian': 'India', 'German': 'Germany', 'Austrian': 'Austria', 'Japanese': 'Japan', 
                          'Finnish': 'Finland', 'Polish': 'Poland', 'Italian': 'Italy', 'Russian': 'Russia',
                          'Australian': 'Australia', 'Belgian': 'Belgium', 'Venezuelan': 'Venezuela', 
                          'Mexican': 'Mexico', 'French': 'France','Dutch': 'Netherlands', 'Swedish': 'Sweeden', 
                          'Danish': 'Denmark', 'American': 'USA', 'Indonesian': 'Indonesia','New Zealander': 'New Zealand',
                          'Canadian': 'Canada', 'Monegasque': 'Monaco', 'Thai': 'Thailand', 'Chinese': 'China',
                          'Malaysian': 'Malaysia'}

con_stats['Country of Origin'] = con_stats['nationality'].map(nationality_to_country)

con_stats.rename(columns={'wins': 'constructor_wins', 
                          'nationality': 'constructor_nationality', 'pole_positions': 'consturctor_pole_positions', 
                          'Points': 'constructor_points', 
                          'Country of Origin': 'constructor_country_of_origin'}, inplace = True)
con_stats.drop('constructor_nationality', axis=1, inplace=True)

In [305]:


#drivers data frame preprocessing

# Calculate the mean height and weight
mean_height = drivers['height (cm)'].mean()
mean_weight = drivers['weight (kg)'].mean()

# Fill NaN values in the 'height (cm)' and 'weight (kg)' columns with their mean values
drivers['height (cm)'].fillna(mean_height, inplace=True)
drivers['weight (kg)'].fillna(mean_weight, inplace=True)

drivers['height (cm)'] = drivers['height (cm)'].astype(int)
drivers['weight (kg)'] = drivers['weight (kg)'].astype(int)

nationality_to_country = {'Spanish': 'Spain', 'Brazilian': 'Brazil', 'Swiss': 'Switzerland', 'British': 'United Kingdom', 
                          'Indian': 'India', 'German': 'Germany', 'Austrian': 'Austria', 'Japanese': 'Japan', 
                          'Finnish': 'Finland', 'Polish': 'Poland', 'Italian': 'Italy', 'Russian': 'Russia',
                          'Australian': 'Australia', 'Belgian': 'Belgium', 'Venezuelan': 'Venezuela', 
                          'Mexican': 'Mexico', 'French': 'France','Dutch': 'Netherlands', 'Swedish': 'Sweeden', 
                          'Danish': 'Denmark', 'American': 'USA', 'Indonesian': 'Indonesia','New Zealander': 'New Zealand',
                          'Canadian': 'Canada', 'Monegasque': 'Monaco', 'Thai': 'Thailand', 'Chinese': 'China'}

drivers['Country of Origin'] = drivers['nationality'].map(nationality_to_country)

drivers.drop('nationality', axis = 1, inplace = True)

drivers.rename(columns={'wins': 'driver_wins', 'poles': 'driver_pole_positions', 'career_points': 'driver_career_points',
                        'Country of Origin': 'driver_country_of_origin', 'championships': 'driver_championships'}, inplace=True)

In [306]:

#qualifying dataframe preprocessing

quali.rename(columns={'Season': 'season'}, inplace=True)
def convert_time_to_millis(time_str):
    # convert time to milliseconds
    minutes, seconds = time_str.split(":")
    seconds, milliseconds = seconds.split(".")
    total_millis = int(minutes)*60000 + int(seconds)*1000 + int(milliseconds)
    return total_millis

def convert_millis_to_time(millis):
    # convert milliseconds to time format
    minutes = millis // 60000
    seconds = (millis % 60000) // 1000
    milliseconds = millis % 1000
    return f"{minutes}:{seconds}.{milliseconds}"


nan_indices = quali[quali['time'].isna()].index

for idx in nan_indices:
    # Skip if it's the first row
    if idx > 0:
        prev_time = quali.loc[idx - 1, 'time']
        prev_time_millis = convert_time_to_millis(prev_time)
        new_time_millis = prev_time_millis + 1
        new_time = convert_millis_to_time(new_time_millis)
        quali.loc[idx, 'time'] = new_time

In [307]:


#Races data frame:

df = races2.copy()
df.drop(['constructor_id', 'driver_id', 'Laps', 'Race time', 'Points', 'Rank'], axis = 1, inplace = True)
df.drop_duplicates(inplace =True)
df.reset_index(drop=True, inplace = True)
df

df['round'] = df.groupby('Season').cumcount() + 1
df = df[['Season', 'circuit_id', 'round'] + [col for col in df.columns if col not in ['Season', 'circuit_id', 'round']]]

rounds = df
races3 = races2.merge(df, on=['Season', 'circuit_id'])

races3.loc[4309:4328, 'round'] = 2
races3.loc[4329:4348, 'round'] = 3
races3.loc[4349:4368, 'round'] = 4
races3.loc[4369:4388, 'round'] = 5
races3.loc[4389:4408, 'round'] = 6
races3.loc[4409:4428, 'round'] = 7
races3.loc[4429:4448, 'round'] = 8
races3.loc[4449:4468, 'round'] = 9
races3.loc[4469:4488, 'round'] = 10
races3.loc[4489:4508, 'round'] = 11
races3.loc[4509:4528, 'round'] = 12
races3.loc[4509:4528, 'round'] = 12
races3.loc[4529:4548, 'round'] = 13
races3.loc[4509:4528, 'round'] = 12
races3.loc[4549:4568, 'round'] = 14
races3.loc[4509:4528, 'round'] = 12
races3.loc[4569:4588, 'round'] = 15
races3.loc[4509:4528, 'round'] = 12
races3.loc[4589:4608, 'round'] = 16
races3.loc[4609:4628, 'round'] = 17
races3.loc[4789:4808, 'round'] = 9
races3.loc[4809:4828, 'round'] = 10
races3.loc[4829:4848, 'round'] = 11
races3.loc[4849:4868, 'round'] = 12
races3.loc[4869:4888, 'round'] = 13
races3.loc[4889:4908, 'round'] = 14
races3.loc[4909:4928, 'round'] = 15
races3.loc[4929:4948, 'round'] = 16
races3.loc[4949:4968, 'round'] = 17
races3.loc[4969:4988, 'round'] = 18
races3.loc[4989:5008, 'round'] = 19
races3.loc[5009:5028, 'round'] = 20
races3.loc[5029:5048, 'round'] = 21
races3.loc[5049:5068, 'round'] = 22

races3.sort_values(by=['Season', 'round', 'circuit_id'], inplace=True)

races3['Points'] = races3['Points'].astype(float)
races3.sort_values(by=['Season', 'driver_id', 'round'], inplace=True)
races3['Points Before GP'] = races3.groupby(['Season', 'driver_id'])['Points'].cumsum() - races3['Points']

races3.rename(columns={'Season': 'season'}, inplace=True)
races3['Rank'] = pd.to_numeric(races3['Rank'], errors='coerce')
races3 = races3.sort_values(by=['season', 'round', 'Rank'])
races3 = races3.reset_index(drop=True)

races3 = races3.sort_values(['season', 'round', 'circuit_id'])

def fill_ranks(group):
    rank_counter = 1
    for i in group.index:
        if pd.isna(group.loc[i, 'Rank']):
            group.loc[i, 'Rank'] = group.loc[i-1, 'Rank'] + 1 if i-1 in group.index else rank_counter
        else:
            rank_counter = group.loc[i, 'Rank'] + 1
    return group

races3 = races3.groupby(['season', 'round', 'circuit_id']).apply(fill_ranks)



races3['Rank'] = races3['Rank'].astype(int)
races3['Laps'] = races3['Laps'].fillna(0)
races3['Laps'] = races3['Laps'].astype(int)

races3['Finished'] = races3['Race time'].apply(lambda x: 0 if x in ['DNF', 'DNS'] else 1)
races3.drop('Race time', axis = 1, inplace = True)

conditions = (races3['season'] == 2010) & ((races3['driver_id'] == 'vettel') | (races3['driver_id'] == 'webber'))

races3.loc[conditions, 'constructor_id'] = 'red_bull'

/var/folders/31/pq0qv3vj7bl8bsbjgkjh3fvr0000gn/T/ipykernel_3746/4130294049.py:72: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  races3 = races3.groupby(['season', 'round', 'circuit_id']).apply(fill_ranks)

In [308]:
races3

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished
0,2010,bahrain,ferrari,alonso,49,25.0,1,1,0.0,1
1,2010,bahrain,ferrari,massa,49,18.0,2,1,0.0,1
2,2010,bahrain,mclaren,hamilton,49,15.0,3,1,0.0,1
3,2010,bahrain,red_bull,vettel,49,12.0,4,1,0.0,1
4,2010,bahrain,mercedes,rosberg,49,10.0,5,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...
5504,2022,yas_marina,haas,mick_schumacher,57,0.0,16,22,12.0,1
5505,2022,yas_marina,haas,kevin_magnussen,57,0.0,17,22,21.0,1
5506,2022,yas_marina,mercedes,hamilton,55,0.0,18,22,233.0,0
5507,2022,yas_marina,williams,latifi,55,0.0,19,22,2.0,0
5508,2022,yas_marina,alpine,alonso,27,0.0,20,22,81.0,0

In [309]:
drivers.drop(['driver_championships', 'driver_career_points'], axis = 1, inplace = True)
con_stats.drop(['constructor_points', 'Constructor_Championships', 'Driver_Championships'],
               axis = 1, inplace = True)

conditions = (quali['season'] == 2010) & ((quali['driver_id'] == 'vettel') | (quali['driver_id'] == 'webber'))

quali.loc[conditions, 'constructor_id'] = 'red_bull'

quali.loc[quali['driver_id'] == 'chandhock', 'driver_id'] = 'chandhok'

In [310]:
quali.columns

Index(['season', 'circuit_id', 'constructor_id', 'driver_id', 'time', 'grid'], dtype='object')

In [311]:
# Reset the round numbers for each season
quali2 = quali[['season', 'circuit_id']]

quali2.drop_duplicates(inplace = True)


quali2.loc[:, 'round'] = quali2.groupby('season').cumcount() + 1
quali = pd.merge(quali, quali2, on=['season', 'circuit_id'], how='left')

/var/folders/31/pq0qv3vj7bl8bsbjgkjh3fvr0000gn/T/ipykernel_3746/2161873583.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quali2.drop_duplicates(inplace = True)
/var/folders/31/pq0qv3vj7bl8bsbjgkjh3fvr0000gn/T/ipykernel_3746/2161873583.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quali2.loc[:, 'round'] = quali2.groupby('season').cumcount() + 1

In [312]:
quali

,season,circuit_id,constructor_id,driver_id,time,grid,round
0,2010,bahrain,red_bull,vettel,1:54.101,1,1
1,2010,bahrain,ferrari,massa,1:54.242,2,1
2,2010,bahrain,ferrari,alonso,1:54.608,3,1
3,2010,bahrain,mclaren,hamilton,1:55.217,4,1
4,2010,bahrain,mercedes,rosberg,1:55.241,5,1
...,...,...,...,...,...,...,...
5455,2022,yas_marina,haas,kevin_magnussen,1:25.834,16,22
5456,2022,yas_marina,alphatauri,gasly,1:25.859,17,22
5457,2022,yas_marina,alfa,bottas,1:25.892,18,22
5458,2022,yas_marina,williams,albon,1:26.028,19,22
5459,2022,yas_marina,williams,latifi,1:26.054,20,22

In [313]:
quali.loc[4270:4288, 'round'] = 2
quali.loc[4289:4308, 'round'] = 3
quali.loc[4309:4328, 'round'] = 4
quali.loc[4329:4348, 'round'] = 5
quali.loc[4349:4368, 'round'] = 6
quali.loc[4369:4388, 'round'] = 7
quali.loc[4389:4408, 'round'] = 8
quali.loc[4409:4428, 'round'] = 9
quali.loc[4429:4448, 'round'] = 10
quali.loc[4449:4468, 'round'] = 11
quali.loc[4469:4488, 'round'] = 12
quali.loc[4489:4508, 'round'] = 13
quali.loc[4509:4528, 'round'] = 14
quali.loc[4529:4548, 'round'] = 15
quali.loc[4549:4568, 'round'] = 16
quali.loc[4569:4588, 'round'] = 17

quali.loc[4748:4767, 'round'] = 9
quali.loc[4768:4787, 'round'] = 10
quali.loc[4788:4807, 'round'] = 11
quali.loc[4808:4827, 'round'] = 12
quali.loc[4828:4845, 'round'] = 13
quali.loc[4846:4864, 'round'] = 14
quali.loc[4865:4884, 'round'] = 15
quali.loc[4885:4904, 'round'] = 16
quali.loc[4905:4924, 'round'] = 17
quali.loc[4925:4944, 'round'] = 18
quali.loc[4945:4964, 'round'] = 19
quali.loc[4965:4984, 'round'] = 20
quali.loc[4985:5004, 'round'] = 21
quali.loc[5005:5023, 'round'] = 22

con_specs.loc[(con_specs['season'] == 2011) & (con_specs['constructor_id'] == 'lotus_racing'), 'constructor_id'] = 'lotus_f1'
con_specs.loc[(con_specs['season'] == 2015) & (con_specs['constructor_id'] == 'manor'), 'constructor_id'] = 'marussia'
con_specs.loc[con_specs['constructor_id'] == 'lotus_f1', 'constructor_country_of_origin'] = 'United Kingdom'
con_specs.loc[(con_specs['constructor_id'] == 'marussia') & (con_specs['season'] == 2015), 'constructor_country_of_origin'] = 'Russia'
con_specs.loc[con_specs['constructor_id'] == 'manor', 'constructor_country_of_origin'] = 'United Kingdom'
con_stats.loc[con_specs['constructor_id'] == 'ferrari', 'constructor_wins'] = 210
con_stats.loc[con_specs['constructor_id'] == 'ferrari', 'consturctor_pole_positions'] = 203

quali

,season,circuit_id,constructor_id,driver_id,time,grid,round
0,2010,bahrain,red_bull,vettel,1:54.101,1,1
1,2010,bahrain,ferrari,massa,1:54.242,2,1
2,2010,bahrain,ferrari,alonso,1:54.608,3,1
3,2010,bahrain,mclaren,hamilton,1:55.217,4,1
4,2010,bahrain,mercedes,rosberg,1:55.241,5,1
...,...,...,...,...,...,...,...
5455,2022,yas_marina,haas,kevin_magnussen,1:25.834,16,22
5456,2022,yas_marina,alphatauri,gasly,1:25.859,17,22
5457,2022,yas_marina,alfa,bottas,1:25.892,18,22
5458,2022,yas_marina,williams,albon,1:26.028,19,22
5459,2022,yas_marina,williams,latifi,1:26.054,20,22

In [314]:
#merging dataframes

mdf1 = pd.merge(races3, quali, on=['season',  'constructor_id', 'circuit_id', 'driver_id', 'round'], how = 'left')

mdf2 = pd.merge(mdf1, con_stats, on='constructor_id', how='left')

constructor_wins_dict = con_stats.set_index('constructor_id')['constructor_wins'].to_dict()
constructor_poles_dict = con_stats.set_index('constructor_id')['consturctor_pole_positions'].to_dict()

mdf2['updated_wins'] = 0
mdf2['updated_poles'] = 0

for idx, row in mdf2.iterrows():
    constructor_id = row['constructor_id']
    
    # Increase win/pole count if conditions are met
    if row['Rank'] == 1:
        constructor_wins_dict[constructor_id] += 1
    if row['grid'] == 1:
        constructor_poles_dict[constructor_id] += 1
        
        # Update the dataframe with current win/pole count
    mdf2.at[idx, 'updated_wins'] = constructor_wins_dict[constructor_id]
    mdf2.at[idx, 'updated_poles'] = constructor_poles_dict[constructor_id]

mdf3 = pd.merge(mdf2, drivers, on='driver_id', how='left')

mdf3.drop(['constructor_wins', 'consturctor_pole_positions'], axis = 1, inplace = True)
mdf3.loc[(weather['season'] == 2011) & (mdf3['round'] == 10), 'circuit_id'] = 'nurburgring'
mdf3.loc[(weather['season'] == 2013) & (mdf3['round'] == 9), 'circuit_id'] = 'nurburgring'
drivers_wins_dict = drivers.set_index('driver_id')['driver_wins'].to_dict()
drivers_poles_dict = drivers.set_index('driver_id')['driver_pole_positions'].to_dict()

mdf3['updated_driver_wins'] = 0
mdf3['updated_driver_poles'] = 0

for idx, row in mdf3.iterrows():
    driver_id = row['driver_id']
    
    if row['Rank'] == 1:
        drivers_wins_dict[driver_id] += 1
    if row['grid'] == 1:
        drivers_poles_dict[driver_id] += 1
    
    mdf3.at[idx, 'updated_driver_wins'] = drivers_wins_dict[driver_id]
    mdf3.at[idx, 'updated_driver_poles'] = drivers_poles_dict[driver_id]

mdf3.drop(['driver_wins', 'driver_pole_positions'], axis = 1, inplace = True)
mdf3
mdf4 = pd.merge(mdf3, con_specs, on=['constructor_id', 'season', 'constructor_country_of_origin'], how='left')

mdf4['driver_age'] = mdf4['season'] - mdf4['year_of_birth']

mdf4['circuit_id'] = mdf4['circuit_id'].replace('rodriquez', 'rodriguez')
mdf4.loc[((mdf4['season'] == 2011) | (mdf4['season'] == 2013)) & (mdf5['circuit_id'] == 'hockenheimring'), 'circuit_id'] = 'nurburgring'
mdf4.loc[((mdf4['season'] == 2016) & (mdf4['circuit_id'] == 'valencia')), 'circuit_id'] = 'baku'
mdf5 = pd.merge(mdf4, circuits, on='circuit_id', how='left')

mdf5['driver_home_race'] = mdf5.apply(lambda row: 1 if row['driver_country_of_origin'] == row['circuit_country'] else 0, axis=1)
mdf5['constructor_home_race'] = mdf5.apply(lambda row: 1 if row['constructor_country_of_origin'] == row['circuit_country'] else 0, axis=1)

weather.loc[:, 'round'] = weather.groupby('season').cumcount() + 1
weather = weather[['season', 'circuit_id', 'round', 'weather_category_Clear', 'weather_category_Cloudy','weather_category_Rainy','weather_category_Warm', 'weather_category_Windy' ] + [col for col in weather2.columns if col not in ['season', 'circuit_id', 'round']]]
weather.loc[(weather['season'] == 2011) & (weather['round'] == 10), 'circuit_id'] = 'nurburgring'
weather.loc[(weather['season'] == 2013) & (weather['round'] == 9), 'circuit_id'] = 'nurburgring'


mdf6 = pd.merge(mdf5, weather, on=['season','circuit_id', 'round'], how='left')

mdf6.drop('time', axis = 1, inplace = True)

def fill_grids(group):
    grid_counter = 1
    for i in group.index:
        if pd.isna(group.loc[i, 'grid']):
            group.loc[i, 'grid'] = group.loc[i-1, 'grid'] + 1 if i-1 in group.index else grid_counter
        else:
            grid_counter = group.loc[i, 'grid'] + 1
    return group

mdf6 = mdf6.groupby(['season', 'round', 'circuit_id']).apply(fill_grids)

mdf6['grid'] = mdf6['grid'].astype(int)

salaries = salaries.append({'season': 2014, 'driver_id': 'hamilton', 'salary': 26000000}, ignore_index=True)
df1copy = mdf6.copy()
df1copy.columns
df1copy.drop(['circuit_id', 'constructor_id',  'Laps', 'Points',
       'Rank', 'round', 'Points Before GP', 'Finished', 'grid',
       'constructor_country_of_origin', 'updated_wins', 'updated_poles',
       'year_of_birth', 'height (cm)', 'weight (kg)',
       'driver_country_of_origin', 'updated_driver_wins',
       'updated_driver_poles', 'Engine Manufacturer', 'Engine', 'Displacement',
       'Cylinders', 'Valves', 'driver_age', 'circuit_country', 'configuration',
       'length (km)', 'number_of_corners', 'drs_zones', 'driver_home_race',
       'constructor_home_race', 'weather_category_Clear',
       'weather_category_Cloudy', 'weather_category_Rainy',
       'weather_category_Warm', 'weather_category_Windy'], axis = 1, inplace = True)
df1copy.drop_duplicates(inplace = True)
df2copy = salaries.copy()
df2copy.drop('salary', axis = 1, inplace = True)

# Assuming you have two DataFrames df1 and df2

# Merge the two DataFrames and keep track of the source of each row using the '_merge' column
merged_df = df1copy.merge(df2copy, on=['season', 'driver_id'], how='outer', indicator=True)

# Filter the rows that are only in the left DataFrame (df1) or only in the right DataFrame (df2)
differences = merged_df.loc[merged_df['_merge'].isin(['left_only', 'right_only'])]

salaries = salaries.drop(salaries[(salaries['season'] == 2010) & (salaries['driver_id'] == 'raikkonen')].index)
salaries['driver_id'] = salaries['driver_id'].replace('Rossi', 'rossi')
differences = differences.drop(differences[(differences['season'] == 2010)&(differences['driver_id'] == 'raikkonen')].index)
differences = differences.drop(differences[(differences['season'] == 2015)&(differences['driver_id'] == 'Rossi')].index)
differences['salary'] = 'None'
differences.drop('_merge', axis = 1, inplace = True)
differences.reset_index(drop = True, inplace = True)
df3 = pd.concat([salaries, differences], ignore_index = True)
df3.sort_values(['season', 'driver_id'], inplace = True)

mdf7 = mdf6.merge(df3, on =['season', 'driver_id'], how = 'left')

mdf7['salary'] = mdf7['salary'].replace('None', np.nan)

mdf7 = mdf7.dropna(subset=['salary'])

mdf7.reset_index(drop=True, inplace=True)
mdf7 = mdf7.drop_duplicates()


mdf7.to_csv('mdf7.csv', index = False)

/var/folders/31/pq0qv3vj7bl8bsbjgkjh3fvr0000gn/T/ipykernel_3746/1584223135.py:81: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  mdf6 = mdf6.groupby(['season', 'round', 'circuit_id']).apply(fill_grids)
/var/folders/31/pq0qv3vj7bl8bsbjgkjh3fvr0000gn/T/ipykernel_3746/1584223135.py:85: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  salaries = salaries.append({'season': 2014, 'driver_id': 'hamilton', 'salary': 26000000}, ignore_index=True)

In [315]:
mdf7

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished,grid,constructor_country_of_origin,updated_wins,updated_poles,year_of_birth,height (cm),weight (kg),driver_country_of_origin,updated_driver_wins,updated_driver_poles,Engine Manufacturer,Engine,Displacement,Cylinders,Valves,driver_age,circuit_country,configuration,length (km),number_of_corners,drs_zones,driver_home_race,constructor_home_race,weather_category_Clear,weather_category_Cloudy,weather_category_Rainy,weather_category_Warm,weather_category_Windy,salary
0,2010,bahrain,ferrari,alonso,49,25.0,1,1,0.0,1,3,Italy,211,203,1981,171,68,Spain,22,18,Ferrari,Ferrari Tipo 056,2398,8,32,29,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,40000000.0
1,2010,bahrain,ferrari,massa,49,18.0,2,1,0.0,1,2,Italy,211,203,1981,166,59,Brazil,11,15,Ferrari,Ferrari Tipo 056,2398,8,32,29,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,18620000.0
2,2010,bahrain,mclaren,hamilton,49,15.0,3,1,0.0,1,4,United Kingdom,164,145,1985,175,66,United Kingdom,11,17,Mercedes,Mercedes FO 108X,2398,8,32,25,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,21280000.0
3,2010,bahrain,red_bull,vettel,49,12.0,4,1,0.0,1,1,Austria,6,6,1987,176,58,Germany,5,6,Renault,Renault RS27-2010,2400,8,32,23,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,4700000.0
4,2010,bahrain,mercedes,rosberg,49,10.0,5,1,0.0,1,5,Germany,9,8,1985,178,71,Germany,0,0,Mercedes,Mercedes FO 108X,2398,8,32,25,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,10640000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5444,2022,yas_marina,haas,mick_schumacher,57,0.0,16,22,12.0,1,12,USA,0,0,1999,170,60,Germany,0,0,Ferrari,Ferrari Tipo 066/7,1600,6,24,23,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,1000000.0
5445,2022,yas_marina,haas,kevin_magnussen,57,0.0,17,22,21.0,1,16,USA,0,0,1992,174,68,Denmark,0,0,Ferrari,Ferrari Tipo 066/7,1600,6,24,30,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,6000000.0
5446,2022,yas_marina,mercedes,hamilton,55,0.0,18,22,233.0,0,5,Germany,125,137,1985,175,66,United Kingdom,103,103,Mercedes,Mercedes M13 E Performance,1600,6,24,37,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,40000000.0
5447,2022,yas_marina,williams,latifi,55,0.0,19,22,2.0,0,20,United Kingdom,114,128,1995,185,74,Canada,0,0,Mercedes,Mercedes M13 E Performance,1600,6,24,27,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,1000000.0
5448,2022,yas_marina,alpine,alonso,27,0.0,20,22,81.0,0,10,France,1,0,1981,171,68,Spain,32,22,Renault,Renault E Tech RE22,1600,6,24,41,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,20000000.0

In [316]:
quali

,season,circuit_id,constructor_id,driver_id,time,grid,round
0,2010,bahrain,red_bull,vettel,1:54.101,1,1
1,2010,bahrain,ferrari,massa,1:54.242,2,1
2,2010,bahrain,ferrari,alonso,1:54.608,3,1
3,2010,bahrain,mclaren,hamilton,1:55.217,4,1
4,2010,bahrain,mercedes,rosberg,1:55.241,5,1
...,...,...,...,...,...,...,...
5455,2022,yas_marina,haas,kevin_magnussen,1:25.834,16,22
5456,2022,yas_marina,alphatauri,gasly,1:25.859,17,22
5457,2022,yas_marina,alfa,bottas,1:25.892,18,22
5458,2022,yas_marina,williams,albon,1:26.028,19,22
5459,2022,yas_marina,williams,latifi,1:26.054,20,22

In [317]:
mdf7

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished,grid,constructor_country_of_origin,updated_wins,updated_poles,year_of_birth,height (cm),weight (kg),driver_country_of_origin,updated_driver_wins,updated_driver_poles,Engine Manufacturer,Engine,Displacement,Cylinders,Valves,driver_age,circuit_country,configuration,length (km),number_of_corners,drs_zones,driver_home_race,constructor_home_race,weather_category_Clear,weather_category_Cloudy,weather_category_Rainy,weather_category_Warm,weather_category_Windy,salary
0,2010,bahrain,ferrari,alonso,49,25.0,1,1,0.0,1,3,Italy,211,203,1981,171,68,Spain,22,18,Ferrari,Ferrari Tipo 056,2398,8,32,29,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,40000000.0
1,2010,bahrain,ferrari,massa,49,18.0,2,1,0.0,1,2,Italy,211,203,1981,166,59,Brazil,11,15,Ferrari,Ferrari Tipo 056,2398,8,32,29,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,18620000.0
2,2010,bahrain,mclaren,hamilton,49,15.0,3,1,0.0,1,4,United Kingdom,164,145,1985,175,66,United Kingdom,11,17,Mercedes,Mercedes FO 108X,2398,8,32,25,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,21280000.0
3,2010,bahrain,red_bull,vettel,49,12.0,4,1,0.0,1,1,Austria,6,6,1987,176,58,Germany,5,6,Renault,Renault RS27-2010,2400,8,32,23,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,4700000.0
4,2010,bahrain,mercedes,rosberg,49,10.0,5,1,0.0,1,5,Germany,9,8,1985,178,71,Germany,0,0,Mercedes,Mercedes FO 108X,2398,8,32,25,Bahrain,Race,5.412,15,3,0,0,1,0,0,0,0,10640000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5444,2022,yas_marina,haas,mick_schumacher,57,0.0,16,22,12.0,1,12,USA,0,0,1999,170,60,Germany,0,0,Ferrari,Ferrari Tipo 066/7,1600,6,24,23,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,1000000.0
5445,2022,yas_marina,haas,kevin_magnussen,57,0.0,17,22,21.0,1,16,USA,0,0,1992,174,68,Denmark,0,0,Ferrari,Ferrari Tipo 066/7,1600,6,24,30,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,6000000.0
5446,2022,yas_marina,mercedes,hamilton,55,0.0,18,22,233.0,0,5,Germany,125,137,1985,175,66,United Kingdom,103,103,Mercedes,Mercedes M13 E Performance,1600,6,24,37,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,40000000.0
5447,2022,yas_marina,williams,latifi,55,0.0,19,22,2.0,0,20,United Kingdom,114,128,1995,185,74,Canada,0,0,Mercedes,Mercedes M13 E Performance,1600,6,24,27,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,1000000.0
5448,2022,yas_marina,alpine,alonso,27,0.0,20,22,81.0,0,10,France,1,0,1981,171,68,Spain,32,22,Renault,Renault E Tech RE22,1600,6,24,41,UAE,Race,5.554,16,2,0,0,1,0,0,0,0,20000000.0

In [318]:
pd.set_option('display.max_columns', None)

In [323]:
mdf7.to_csv('mdf7.csv', index = False)

In [320]:
weather[weather['season']==2013]

,season,circuit_id,round,weather_category_Clear,weather_category_Cloudy,weather_category_Rainy,weather_category_Warm,weather_category_Windy
58,2013,albert_park,1,1,0,0,0,0
59,2013,sepang,2,1,0,0,0,0
60,2013,shanghai,3,0,1,0,0,0
61,2013,bahrain,4,1,0,0,0,0
62,2013,catalunya,5,1,0,0,0,0
63,2013,monaco,6,1,0,0,0,0
64,2013,villeneuve,7,0,0,0,0,1
65,2013,silverstone,8,1,0,0,0,0
66,2013,nurburgring,9,1,0,0,0,0
67,2013,hungaroring,10,1,0,0,0,0
68,2013,spa,11,0,1,0,0,0
69,2013,monza,12,0,1,0,0,0
70,2013,marina_bay,13,1,0,0,0,0
71,2013,yeongam,14,0,1,0,0,0
72,2013,suzuka,15,1,0,0,0,0
73,2013,buddh,16,1,0,0,0,0
74,2013,yas_marina,17,1,0,0,0,0
75,2013,americas,18,0,1,0,0,0
76,2013,interlagos,19,0,1,0,0,0

In [321]:
mdf7[(mdf7['season'] == 2013) &(mdf7['round'] == 9)]

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished,grid,constructor_country_of_origin,updated_wins,updated_poles,year_of_birth,height (cm),weight (kg),driver_country_of_origin,updated_driver_wins,updated_driver_poles,Engine Manufacturer,Engine,Displacement,Cylinders,Valves,driver_age,circuit_country,configuration,length (km),number_of_corners,drs_zones,driver_home_race,constructor_home_race,weather_category_Clear,weather_category_Cloudy,weather_category_Rainy,weather_category_Warm,weather_category_Windy,salary
1523,2013,nurburgring,red_bull,vettel,60,25.0,1,9,132.0,1,2,Austria,38,49,1987,176,58,Germany,30,39,Renault,Renault RS27-2013,2400,8,32,26,Germany,Race,5.148,15,2,1,0,1,0,0,0,0,17000000.0
1524,2013,nurburgring,lotus_f1,raikkonen,60,18.0,2,9,98.0,1,4,United Kingdom,2,0,1979,175,62,Finland,21,16,Renault,Renault RS27-2013,2400,8,32,34,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,4000000.0
1525,2013,nurburgring,lotus_f1,grosjean,60,15.0,3,9,26.0,1,5,United Kingdom,2,0,1986,180,71,France,0,0,Renault,Renault RS27-2013,2400,8,32,27,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,1330000.0
1526,2013,nurburgring,ferrari,alonso,60,12.0,4,9,111.0,1,8,Italy,221,207,1981,171,68,Spain,32,22,Ferrari,Ferrari Tipo 056,2398,8,32,32,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,26600000.0
1527,2013,nurburgring,mercedes,hamilton,60,10.0,5,9,89.0,1,1,Germany,12,15,1985,175,66,United Kingdom,21,29,Mercedes,Mercedes FO 108F,2398,8,32,28,Germany,Race,5.148,15,2,0,1,1,0,0,0,0,26000000.0
1528,2013,nurburgring,mclaren,button,60,8.0,6,9,25.0,1,9,United Kingdom,182,155,1980,182,72,United Kingdom,15,8,Mercedes,Mercedes FO 108F,2398,8,32,33,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,21300000.0
1529,2013,nurburgring,red_bull,webber,60,6.0,7,9,87.0,1,3,Austria,38,49,1976,185,75,Australia,9,11,Renault,Renault RS27-2013,2400,8,32,37,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,13300000.0
1530,2013,nurburgring,mclaren,perez,60,4.0,8,9,12.0,1,13,United Kingdom,182,155,1990,173,63,Mexico,0,0,Mercedes,Mercedes FO 108F,2398,8,32,23,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,2000000.0
1531,2013,nurburgring,mercedes,rosberg,60,2.0,9,9,82.0,1,11,Germany,12,15,1985,178,71,Germany,3,4,Mercedes,Mercedes FO 108F,2398,8,32,28,Germany,Race,5.148,15,2,1,1,1,0,0,0,0,14630000.0
1532,2013,nurburgring,sauber,hulkenberg,60,1.0,10,9,6.0,1,10,Switzerland,1,1,1987,184,70,Germany,0,1,Ferrari,Ferrari Tipo 056,2398,8,32,26,Germany,Race,5.148,15,2,1,0,1,0,0,0,0,1330000.0
1533,2013,nurburgring,force_india,resta,60,0.0,11,9,36.0,1,12,India,0,1,1986,185,74,United Kingdom,0,0,Mercedes,Mercedes FO 108F,2398,8,32,27,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,532000.0
1534,2013,nurburgring,toro_rosso,ricciardo,60,0.0,12,9,11.0,1,6,Italy,1,1,1989,175,64,Australia,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,24,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,532000.0
1535,2013,nurburgring,force_india,sutil,60,0.0,13,9,23.0,1,15,India,0,1,1983,183,75,Germany,0,0,Mercedes,Mercedes FO 108F,2398,8,32,30,Germany,Race,5.148,15,2,1,0,1,0,0,0,0,665000.0
1536,2013,nurburgring,sauber,gutierrez,60,0.0,14,9,0.0,1,14,Switzerland,1,1,1991,180,61,Mexico,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,22,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,266000.0
1537,2013,nurburgring,williams,maldonado,60,0.0,15,9,0.0,1,18,United Kingdom,114,127,1985,173,63,Venezuela,1,1,Renault,Renault RS27-2013,2400,8,32,28,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,1330000.0
1538,2013,nurburgring,williams,bottas,59,0.0,16,9,0.0,1,17,United Kingdom,114,127,1989,173,70,Finland,0,0,Renault,Renault RS27-2013,2400,8,32,24,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,798000.0
1540,2013,nurburgring,caterham,pic,59,0.0,17,9,0.0,1,22,Malaysia,210,203,1990,178,60,France,0,0,Renault,Renault RS27-2013,2400,8,32,23,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,199500.0
1541,2013,nurburgring,caterham,garde,59,0.0,18,9,0.0,1,20,Malaysia,210,203,1985,182,73,Netherlands,0,0,Renault,Renault RS27-2013,2400,8,32,28,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,199500.0
1542,2013,nurburgring,marussia,chilton,59,0.0,19,9,0.0,1,21,Russia,0,0,1991,181,64,United Kingdom,0,0,Cosworth,Cosworth CA2013,2400,8,32,22,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,199500.0
1543,2013,nurburgring,marussia,jules_bianchi,21,0.0,20,9,0.0,0,19,Russia,0,0,1989,174,65,France,0,0,Cosworth,Cosworth CA2013,2400,8,32,24,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,665000.0
1544,2013,nurburgring,ferrari,massa,3,0.0,21,9,57.0,0,7,Italy,221,207,1981,166,59,Brazil,11,15,Ferrari,Ferrari Tipo 056,2398,8,32,32,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,8000000.0
1545,2013,nurburgring,toro_rosso,vergne,22,0.0,22,9,13.0,0,16,Italy,1,1,1990,182,69,France,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,23,Germany,Race,5.148,15,2,0,0,1,0,0,0,0,532000.0

In [322]:
mdf7[(mdf7['season'] == 2011) &(mdf7['round'] == 10)]

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished,grid,constructor_country_of_origin,updated_wins,updated_poles,year_of_birth,height (cm),weight (kg),driver_country_of_origin,updated_driver_wins,updated_driver_poles,Engine Manufacturer,Engine,Displacement,Cylinders,Valves,driver_age,circuit_country,configuration,length (km),number_of_corners,drs_zones,driver_home_race,constructor_home_race,weather_category_Clear,weather_category_Cloudy,weather_category_Rainy,weather_category_Warm,weather_category_Windy,salary
642,2011,nurburgring,mclaren,hamilton,60,25.0,1,10,109.0,1,2,United Kingdom,172,146,1985,175,66,United Kingdom,16,18,Mercedes,Mercedes FO 108Y,2398,8,32,26,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,13900000.0
643,2011,nurburgring,ferrari,alonso,60,18.0,2,10,112.0,1,4,Italy,216,205,1981,171,68,Spain,27,20,Ferrari,Ferrari Tipo 056,2398,8,32,30,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,41700000.0
644,2011,nurburgring,red_bull,webber,60,15.0,3,10,124.0,1,1,Austria,21,30,1976,185,75,Australia,6,9,Renault,Renault RS27-2011,2400,8,32,35,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,11120000.0
645,2011,nurburgring,red_bull,vettel,60,12.0,4,10,204.0,1,3,Austria,21,30,1987,176,58,Germany,16,22,Renault,Renault RS27-2011,2400,8,32,24,Germany,Race,5.148,15,2,1,0,0,1,0,0,0,11120000.0
646,2011,nurburgring,ferrari,massa,60,10.0,5,10,52.0,1,5,Italy,216,205,1981,166,59,Brazil,11,15,Ferrari,Ferrari Tipo 056,2398,8,32,30,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,12800000.0
647,2011,nurburgring,force_india,sutil,60,8.0,6,10,10.0,1,8,India,0,1,1983,183,75,Germany,0,0,Mercedes,Mercedes FO 108Y,2398,8,32,28,Germany,Race,5.148,15,2,1,0,0,1,0,0,0,1390000.0
648,2011,nurburgring,mercedes,rosberg,59,6.0,7,10,40.0,1,6,Germany,9,8,1985,178,71,Germany,0,0,Mercedes,Mercedes FO 108Y,2398,8,32,26,Germany,Race,5.148,15,2,1,1,0,1,0,0,0,11120000.0
649,2011,nurburgring,mercedes,michael_schumacher,59,4.0,8,10,28.0,1,10,Germany,9,8,1969,174,75,Germany,91,68,Mercedes,Mercedes FO 108Y,2398,8,32,42,Germany,Race,5.148,15,2,1,1,0,1,0,0,0,11120000.0
650,2011,nurburgring,sauber,kobayashi,59,2.0,9,10,25.0,1,17,Switzerland,1,1,1986,170,57,Japan,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,25,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,1390000.0
651,2011,nurburgring,renault,petrov,59,1.0,10,10,31.0,1,9,France,35,51,1984,185,75,Russia,0,0,Renault,Renault RS27-2011,2400,8,32,27,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,695000.0
652,2011,nurburgring,sauber,perez,59,0.0,11,10,8.0,1,15,Switzerland,1,1,1990,173,63,Mexico,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,21,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,278000.0
653,2011,nurburgring,toro_rosso,alguersuari,59,0.0,12,10,9.0,1,16,Italy,1,1,1990,181,65,Spain,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,21,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,556000.0
654,2011,nurburgring,force_india,resta,59,0.0,13,10,2.0,1,12,India,0,1,1986,185,74,United Kingdom,0,0,Mercedes,Mercedes FO 108Y,2398,8,32,25,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,278000.0
655,2011,nurburgring,williams,maldonado,59,0.0,14,10,0.0,1,13,United Kingdom,113,126,1985,173,63,Venezuela,0,0,Cosworth,Cosworth CA2011,2400,8,32,26,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,278000.0
656,2011,nurburgring,toro_rosso,buemi,59,0.0,15,10,8.0,1,24,Italy,1,1,1988,172,55,Switzerland,0,0,Ferrari,Ferrari Tipo 056,2398,8,32,23,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,556000.0
657,2011,nurburgring,lotus_f1,kovalainen,58,0.0,16,10,0.0,1,18,United Kingdom,0,0,1981,172,66,Finland,1,1,Renault,Renault RS27-2011,2400,8,32,30,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,4170000.0
658,2011,nurburgring,virgin,glock,57,0.0,17,10,0.0,1,19,United Kingdom,0,0,1982,169,64,Germany,0,0,Cosworth,Cosworth CA2011,2400,8,32,29,Germany,Race,5.148,15,2,1,0,0,1,0,0,0,2780000.0
659,2011,nurburgring,virgin,ambrosio,57,0.0,18,10,0.0,1,21,United Kingdom,0,0,1985,172,62,Belgium,0,0,Cosworth,Cosworth CA2011,2400,8,32,26,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,278000.0
660,2011,nurburgring,williams,barrichello,16,0.0,21,10,4.0,0,14,United Kingdom,113,126,1972,172,77,Brazil,11,14,Cosworth,Cosworth CA2011,2400,8,32,39,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,3058000.0
661,2011,nurburgring,mclaren,button,35,0.0,22,10,109.0,0,7,United Kingdom,172,146,1980,182,72,United Kingdom,10,7,Mercedes,Mercedes FO 108Y,2398,8,32,31,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,13900000.0
662,2011,nurburgring,renault,heidfeld,9,0.0,23,10,34.0,0,11,France,35,51,1977,165,59,Germany,0,1,Renault,Renault RS27-2011,2400,8,32,34,Germany,Race,5.148,15,2,1,0,0,1,0,0,0,2780000.0
663,2011,nurburgring,hrt,liuzzi,37,0.0,24,10,0.0,0,23,Spain,0,0,1980,169,68,Italy,0,0,Cosworth,Cosworth CA2011,2400,8,32,31,Germany,Race,5.148,15,2,0,0,0,1,0,0,0,278000.0

,season,circuit_id,constructor_id,driver_id,Laps,Points,Rank,round,Points Before GP,Finished,time,grid,constructor_country_of_origin,updated_wins,updated_poles,year_of_birth,height (cm),weight (kg),driver_country_of_origin,updated_driver_wins,updated_driver_poles
0,2010,bahrain,ferrari,alonso,49,25.0,1,1,0.0,1,1:54.608,3.0,Italy,211,203,1981,171,68,Spain,22,18
1,2010,bahrain,ferrari,massa,49,18.0,2,1,0.0,1,1:54.242,2.0,Italy,211,203,1981,166,59,Brazil,11,15
2,2010,bahrain,mclaren,hamilton,49,15.0,3,1,0.0,1,1:55.217,4.0,United Kingdom,164,145,1985,175,66,United Kingdom,11,17
3,2010,bahrain,red_bull,vettel,49,12.0,4,1,0.0,1,1:54.101,1.0,Austria,6,6,1987,176,58,Germany,5,6
4,2010,bahrain,mercedes,rosberg,49,10.0,5,1,0.0,1,1:55.241,5.0,Germany,9,8,1985,178,71,Germany,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5504,2022,yas_marina,haas,mick_schumacher,57,0.0,16,22,12.0,1,1:25.225,12.0,USA,0,0,1999,170,60,Germany,0,0
5505,2022,yas_marina,haas,kevin_magnussen,57,0.0,17,22,21.0,1,1:25.834,16.0,USA,0,0,1992,174,68,Denmark,0,0
5506,2022,yas_marina,mercedes,hamilton,55,0.0,18,22,233.0,0,1:24.508,5.0,Germany,125,137,1985,175,66,United Kingdom,103,103
5507,2022,yas_marina,williams,latifi,55,0.0,19,22,2.0,0,1:26.054,20.0,United Kingdom,114,128,1995,185,74,Canada,0,0
5508,2022,yas_marina,alpine,alonso,27,0.0,20,22,81.0,0,1:25.096,10.0,France,1,0,1981,171,68,Spain,32,22

In [1]:
0.007657973243202045 + 0.00713361698571866 + 0.006922023457255686 + 0.006906841643464535 + 0.006831563571818443 + 0.006824313534607345 + 0.006821925365928525 + 0.006767076045634948 + 0.0066684183255798874 + 0.0063777011484689615 + 0.00637060405634741 + 0.0059775319866794225 + 0.005975662263729181 + 0.005925495409372563 +  0.005864614874236685 + 0.005731192649520835 + 0.00563415128082264 + 0.005480544454705991 + 0.005044772627740241 + 0.0022247975001988174 + 0.0021395334217565493 + 0.001011390055644896 + 0.000991889478195771

0.1272836333806301